venv/
env/
*.pyc
__pycache__/


.vscode/
.idea/


*.sqlite3


/static/
media/


*.log


.env
*.env


staticfiles/


*/migrations/*.py
!*/migrations/__init__.py


*.py[cod]
*.pyo
*.so

.DS_Store
Thumbs.db